.faulty-terminal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* Sit on top of body background, below content */
    pointer-events: none;
}

.faulty-terminal-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}